@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,500;0,600;1,500;1,600&family=Playfair+Display:wght@600;700&display=swap');

/*///////////////ESTILOS GENERALES//////////////*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Arial';
    color: #333;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color:#F0EBE8;
}

span{
    display: inline-block;
}

ul li{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 500;
}

section p, body > div > div p{
    line-height: 1.4rem;
    margin-bottom: 1rem;
}

figure img{
    max-width: 100%;
    display: block;
    margin: auto;
}

h2{
    font-family: 'Bebas Neue';
    font-size: 2.5rem;
    text-transform: uppercase;
}

iframe{
    width: 100%;
    height: 350px;
    border: none;
}

/***SECTION Imagen decorativa que aparace debajo de los H2***/
section h2, body > div > div h2{
    padding-bottom: 2rem;
    background: url(../img/iconos/linea.png) no-repeat;
    background-position: 0 34px;
}

/**ASIDE CONTACTO DV H2
Imagen decorativa que aparace debajo de los H2***/
body aside:nth-of-type(1) div h2,
body aside:nth-of-type(2) h2{
    padding-bottom: 8px;
    background: url(../img/iconos/linea.png) no-repeat center center;
}

/**ESTILOS DEL BOTON RESERVAR TURNO**/
header button, section button, aside input[type="submit"]{
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 50px;
    padding: 10px 8px 12px 8px;
    background: #81664b;
    color: #f2f2f2;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    box-shadow: -2px 3px 6px -2px rgb(0 0 0 / 10%);
}


/*///////////////HEADER//////////////*/
/**IMAGEN DE FONDO**/
header{
    width: 100vw;
    height: 667px;
    background: url(../img/banner/banner_cell_tablet.jpg) no-repeat center center;
    margin-bottom: 5rem; /*80px*/
}

.movil{
    width: calc(100vw - 17px);
}

/**HEADER > DIV**/
header > div{
    padding-top: 1rem;
}
/**H1 LOGO**/
header > div:nth-of-type(1) h1,
footer h2{
    width: 160px;
    height: 40px;
    margin: auto;
    margin-top: 4px;
    background: url(../img/galeria/logo_flecha_barber.png) no-repeat;
    background-size: contain;
    font-size: 0;
}

/**ESTILOS DEL DIV H2 BARBERIA**/
header > div:nth-of-type(2) h2{
    margin-top: 3rem;
    font-family: 'Playfair Display', serif;
    font-size: 4.125rem;
    font-weight: 700;
    text-align: center;
    color: #F9C900;
}
/**ESTILOS DEL DIV P MARCA TU ESTILO**/
header > div:nth-of-type(2) p,
footer > div div p{
    max-width: 329px;
    margin: auto;
    padding-top: 2px;
    font-family: 'Bebas Neue' !important;
    font-size: 2.375rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: #f2f2f2;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}
/**ESTILOS DEL UL DIA Y HORARIO**/
header > ul{
    margin-top: 76px;
    text-align: center;
}
 
header > ul li{
    padding: 0 0 10px 0;
}

header > ul li:nth-of-type(2){
    padding-bottom: 16px;
}
 
header > ul li, 
header > ul li a{
    /*font-size: .875rem;*/
    font-size: 1rem;
    font-family: 'Bebas Neue';
    color: #baa472;
    /*color: #baa472;*/
}

/**ICONO CERRAR MENU Y MODAL IMG**/
header > div:nth-of-type(1) nav > .menuX,
body section:nth-of-type(3) > div:nth-of-type(2) div{
    width: 24px;
    height: 24px;
    background: url(../img/iconos/letra_x.png) no-repeat center center;
    position: fixed;
    right: 1rem;
    top: 1.6rem;
    z-index: 3;
}


/*///////////////SOBRE NOSOTROS//////////////*/
body section:nth-of-type(1){
    margin-bottom: 64px;
    padding: 0 1rem;
}
/**FONDO DE COLOR IMG**/
body section:nth-of-type(1) figure{
    max-width: 222px;
    padding: 16px;
    margin-bottom: 40px;
    background-color: #666;
}


/*///////////////NUESTROS SERVICIOS//////////////*/
body section:nth-of-type(2){
    margin-bottom: 5rem; /*80px*/
}

body section:nth-of-type(2) figure img{
    padding: 0 32px;
}

body section:nth-of-type(2) figure figcaption {
    margin-top: 5rem; /*80px*/
    background-color: #f2f2f2;
    padding: 20px 1rem 30px 1rem;
}

/**POSICION DE LA IMG DEL H2**/
body section:nth-of-type(2) figure figcaption div h2{
    background-position: 21px 34px;
}
/**ESTILO DE LA LISTA DE PRECIOS**/
body section:nth-of-type(2) figure figcaption div ul{
    margin: 20px 0;
}

body section:nth-of-type(2) figure figcaption div ul li{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: #BAA472;
    border-bottom: 1px solid #6666664d;
}


/*///////////////GALERIA//////////////*/
/**ESTILO DEL H2 GALERIA**/
body section:nth-of-type(3) h2{
    text-align: center;
    max-width: 200px;
    margin: auto;
    margin-bottom: 20px;
    background-position: -6px 34px;
}
/**ESTILO DE LAS IMG MINIATURA**/
body section:nth-of-type(3) > div:nth-of-type(1){
    display: grid;
    grid-template-columns: repeat(2, 160px);
    justify-content: center;
    grid-gap: 10px;
}

body section:nth-of-type(3) > div:nth-of-type(1) figure img{
    filter: grayscale(90%);
}

/**ESTILO PARA GENERAR LA MODAL IMG**/
body section:nth-of-type(3){
    position: relative;
}
/**ESTILO DEL DIV MODAL IMG**/
body section:nth-of-type(3) > div:nth-of-type(2){
   width: 100vw;
   height: 100vh;
   top: 0;
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #2a2a2af5;
}

/**ESTILO FIGURE **/
body section:nth-of-type(3) > div:nth-of-type(2) figure img{
    padding: 10px;
    border: 2px solid #BAA472;
}
/**ESTILO FIGURE IMG MODAL**/
body section:nth-of-type(3) > div:nth-of-type(2) figure img{
    max-width: 300px;
}
/**ESTILO DEL UL BTN**/
body section:nth-of-type(3) > div:nth-of-type(2) > ul{
    width: 100%;
    max-width: 355px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}
/**ESTILO DEL UL LI BTN ANTERIOR**/
body section:nth-of-type(3) > div:nth-of-type(2) > ul li:nth-of-type(1){
    width: 40px;
    height: 40px;
    background-image: url(../img/iconos/atras.png);
    background-size: cover;
    font-size: 0;
    z-index: 3;
}
/**ESTILO DEL UL LI BTN SIGUIENTE**/
body section:nth-of-type(3) > div:nth-of-type(2) > ul li{
    width: 40px;
    height: 40px;
    background-image: url(../img/iconos/adelante.png);
    background-size: cover;
    font-size: 0;
}
/**ESTILO DEL UL INDICADOR**/
body section:nth-of-type(3) > div:nth-of-type(2) figure{
    position: relative;
}
body section:nth-of-type(3) > div:nth-of-type(2) figure ul{
    width: 100%;
    max-width: 364px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}
/**ESTILO DEL LOS LI INDICADORES**/
body section:nth-of-type(3) > div:nth-of-type(2) figure ul li{
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #f2f2f2;
    border-radius: 50%;
}
/**ESTILO DEL LI INDICADOR ACTIVO**/
body section:nth-of-type(3) > div:nth-of-type(2) figure ul .active{
    background-color: #81664b;
}

/*///////////////CONTACTO//////////////*/
/**ASIDE CONTACTO**/
body aside:nth-of-type(1){
    margin-top: 5rem; /*80px*/
}
/**ASIDE CONTACTO DIV**/
body aside:nth-of-type(1) div{
    background-color: #2A2A2A;
    padding: 32px 1rem 40px 1rem;
}
/**ASIDE CONTACTO DV H2**/
body aside:nth-of-type(1) div h2{
    color: #f2f2f2;
    max-width: 170px;
    margin-bottom: 20px;
    background-position: -21px 34px;
}
/**ASIDE CONTACTO DIV UL LI**/
body aside:nth-of-type(1) div ul li{
    padding-top: 1rem;
    color: #f2f2f2;/*#BAA472*/
    display: flex;
    align-items: center;
}
/**ASIDE CONTACTO DIV UL LI SPAN(UBICACION)**/
body aside:nth-of-type(1) div ul li:first-child span{
    width: 14px;
    height: 14px;
    margin-right: 1rem;
    padding: 12px;
    background: url(../img/iconos/ubicacion.png) no-repeat center center;
    background-size: 15px;
    border: 1px solid #BAA472;
    border-radius: 50%;
    
}
/**ASIDE CONTACTO DIV UL LI SPAN(CALENDARIO)**/
body aside:nth-of-type(1) div ul li:nth-of-type(2) span{
    width: 14px;
    height: 14px;
    margin-right: 1rem;
    padding: 12px;
    background: url(../img/iconos/calendario.png) no-repeat center center;
    background-size: 14px;
    border: 1px solid #BAA472;
    border-radius: 50%;;
}
/**ASIDE CONTACTO DIV UL LI SPAN(WSP)**/
body aside:nth-of-type(1) div ul li:last-child span{
    width: 14px;
    height: 14px;
    margin-right: 1rem;
    padding: 12px;
    background: url(../img/iconos/whatsapp_f.png) no-repeat center center;
    background-size: 15px;
    border: 1px solid #BAA472;
    border-radius: 50%;
}
/**ASIDE CONTACTO DIV UL LI A**/
body aside:nth-of-type(1) div ul li a{
    color: #f2f2f2;
    font-weight: 400;
}


/*///////////////RESERVAR TURNO//////////////*/
/**ASIDE ID RESERVA**/
body aside:nth-of-type(2){
    margin-top: 5rem; /*80px*/
    padding: 0 1rem;
}
/**ASIDE RESERVA H2**/
body aside:nth-of-type(2) h2{
    background-position: 0 34px;
}
body aside:nth-of-type(2) > div{
    margin: 30px 0;
    padding: 1rem;
    background-color: #fdd579;
    border-radius: 10px;
    box-shadow: -2px 3px 6px -2px rgb(0 0 0 / 10%);
}
/**ASIDE RESERVA UL LI**/
body aside:nth-of-type(2) > div > ul li{
    margin-top: 8px;
    line-height: 1.4rem;
}
/**ASIDE RESERVA UL LI**/
body aside:nth-of-type(2) > div > ul li a{
    display: inline;
    color: #333;
}
/**ASIDE RESERVA FORM DIV**/
body aside:nth-of-type(2) form{
    margin-top: 40px;
}
/**ASIDE RESERVA FORM DIV**/
body aside:nth-of-type(2) form div{
    margin-bottom: 18px;
}
/**ASIDE RESERVA FORM DIV LABEL**/
body aside:nth-of-type(2) form div label{
    display: block;
    font-weight: 500;
}
/**ASIDE RESERVA FORM DIV INPUT**/
body aside:nth-of-type(2) form div input{
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 10px;
    border: 1px solid #6666664d;
    outline: none;
    color: #333;
    background-color: #f2f2f2;
    /*box-shadow: -2px 3px 6px -2px rgb(0 0 0 / 10%);*/
}
/**ASIDE RESERVA FORM DIV HORARIOS**/
body aside:nth-of-type(2) form div:nth-of-type(4){
    position: relative;
}
/**ASIDE RESERVA FORM DIV[4] H3**/
body aside:nth-of-type(2) form div h3{
    font-size: 1rem;
    font-weight: 500;
}
/**ASIDE RESERVA FORM DIV[4] H4 **/
body aside:nth-of-type(2) form div h4{
    width: 100%;
    padding: 9px 10px;
    margin: 6px 0;
    border-radius: 10px;
    border: 1px solid #6666664d;
    font-size: .875rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    /*box-shadow: -2px 3px 6px -2px rgb(0 0 0 / 10%);*/
}

body aside:nth-of-type(2) form div h4 span{
    padding: 8px;
    background: url(../img/iconos/flecha_abajo.png) no-repeat center center;
    background-size: 10px;
    border: 1px solid #BAA472;
    border-radius: 50%;
}

/**ASIDE RESERVA FORM > DIV[4] DIV OCULTO**/
body aside:nth-of-type(2) form > div div{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2a2a2a6b;
    transform: translateY(100%);
}
/**ASIDE RESERVA FORM > DIV[4] UL OCULTO**/
body aside:nth-of-type(2) form > div > ul{
    background-color: #F0EBE8;
    width: 100vw;
    height: 80vh;
    padding: 32px 32px 12px 32px;
    border-radius: 10px 10px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    transform: translateY(100%);
    transition: 0.5s ease-out;
    z-index: 1;
}
/**ASIDE RESERVA FORM > DIV[4] > (DIV Y UL) VISIBLE**/
body aside:nth-of-type(2) form > div > .HsActivo{
    transform: translateY(0%);
}
/**ASIDE RESERVA FORM > DIV[4] > UL LI**/
body aside:nth-of-type(2) form > div > ul li{
    width: 100%;
    max-width: 436px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #6666664d;
    background-color: #f2f2f2;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    /*box-shadow: -2px 3px 6px -2px rgb(0 0 0 / 10%);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

body aside:nth-of-type(2) form > div > ul li span{
    width: 26px;
    height: 16px;
    background: url(../img/iconos/reloj.png) no-repeat;
    background-size: 1rem;
    background-position-x: 10px;
}

/**Estas class se aplican atraves del JS para darle estilos a los INPUTS, LABEL y los P tanto para estilizarlos como para las validaciones**/

/**ASIDE RESERVA FORM DIV INPUT CLASS="OUTLINE"**/
body aside:nth-of-type(2) form div .outLine{
    padding-bottom: 9px;
    border-bottom: 2px solid #baa472;
}
/**ASIDE RESERVA FORM DIV LABEL CLASS="ERRORLABEL"**/
body aside:nth-of-type(2) form div .errorLabel{
    color: #F26671;
}
/**ASIDE RESERVA DIV INPUT CLASS="ERRORINPUT"**/
body aside:nth-of-type(2) form div .errorInput{
    border: 1px solid #F26671;
}
/**ASIDE RESERVA FORM DIV P(MJS ERROR)**/
body aside:nth-of-type(2) form div p{
    font-size: .75rem;
    font-weight: 500;
    color: #F26671;
    padding-bottom: 0;
    padding-left: 18px;
    background: url(../img/iconos/elerta.png) no-repeat;
    background-size: 10px;
    background-position: 0 2px;
}

/**DIV MENSAJE DE RESERVA DE TURNO**/
body > div > div{
    max-width: 320px;
    padding: 2rem 1rem; 
    background-color: #F0EBE8;
    border-left: 4px solid #fdd579;
    border-radius: 10px;
}

body > div > div h2{
    padding-bottom: 18px;
    background-position: 9px 34px;
}

body > div > div p:last-child{
    font-weight: 500;
    padding-bottom: 0;
}

body > div > div{
    position: relative;
}
/**ICONO CERRAR MODAL MSJ**/
body > div > div div{
    width: 24px;
    height: 24px;
    background: url(../img/iconos/cerrar.png) no-repeat center center;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 3;
}

body > div{
   display: none;
}

.msjActivo{
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a2a2af5;
}

/*///////////////FOOTER//////////////*/
footer{
    margin-top: 5rem; /*80px*/
    padding: 20px 32px;
    background-color: #2A2A2A;
}
/**FOOTER H2 LOGO**/
footer > div div h2{
    margin: auto;
    margin-bottom: 1rem;
}
/**FOOTER DIV P**/
footer > div div p{
    max-width: 200px;
    margin-top: 10px;
    font-size: 1.125rem;
}
/**FOOTER DIV UL**/
footer > div div ul{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
/**FOOTER DID UL LI A(FACEBOOK)**/
footer > div div ul li:first-child a{
    width: 14px;
    height: 14px;
    margin-right: 1rem;
    padding: 14px;
    background: url(../img/iconos/facebook.png) no-repeat center center;
    background-size: 14px;
    border: 1px solid #BAA472;
    border-radius: 50%;
    font-size: 0;
}
/**FOOTER DID UL LI A(INSTAGRAM)**/
footer > div div ul li:nth-of-type(2) a{
    width: 14px;
    height: 14px;
    margin-right: 1rem;
    padding: 14px;
    background: url(../img/iconos/instagram.png) no-repeat center center;
    background-size: 14px;
    border: 1px solid #BAA472;
    border-radius: 50%;
    font-size: 0;
}
/**FOOTER DID UL LI A(WHATSAPP)**/
footer > div div ul li:last-child a{
    width: 14px;
    height: 14px;
    padding: 14px;
    background: url(../img/iconos/whatsapp_f.png) no-repeat center center;
    background-size: 14px;
    border: 1px solid #BAA472;
    border-radius: 50%;
    font-size: 0;
}
/**FOOTER DID UL LI P(COPYRIGHT)**/
footer > div div + p{
    font-size: .875rem;
    font-weight: 600;
    padding: 0 0 0 26px;
    background: url(../img/iconos/copyright.png) no-repeat;
    background-size: 16px;
    background-position: 0 1px;
    color: #666;
}
/**FOOTER DID UL LI P(SPAN)**/
footer > div div + p span{
    color: #666;
}

/*///////////////MAEDIA QUERIS//////////////*/
@media screen and (min-width: 500px){
    /**ICONO HAMBURGUESA**/
    header > div:nth-of-type(1) nav > div{
        right: 2rem;
    }
    /**ICONO CERRAR MENU Y MODAL IMG**/
    header > div:nth-of-type(1) nav > .menuX,
    body section:nth-of-type(3) > div:nth-of-type(2) div{
        right: 2rem;
    }

    /*///////////////SOBRE NOSOTROS//////////////*/
    body section:nth-of-type(1){
        padding: 0 2rem;
    }

    /*///////////////NUESTROS SERVICIOS//////////////*/
    body section:nth-of-type(2) figure figcaption{
        padding: 20px 2rem 30px 2rem;
    }
    body section:nth-of-type(2) figure figcaption div{
        max-width: 500px;
        margin: auto;
    }

    /*///////////////CONTACTO//////////////*/
    /**ASIDE CONTACTO DIV**/
    body aside:nth-of-type(1) div{
        padding: 32px 2rem 40px 2rem;
    }

    /*///////////////RESERVAR TURNO//////////////*/
    /**ASIDE ID RESERVA**/
    body aside:nth-of-type(2){
        padding: 0 2rem;
        max-width: 500px;
        margin: auto;
        margin-top: 5rem; /*80px*/
    }
    /*///////////////GALERIA//////////////*/
    /**ESTILO DE LAS IMG MINIATURA**/
    body section:nth-of-type(3) > div:nth-of-type(1){
        grid-template-columns: repeat(2, 213px);
    }
    /**ESTILO DE LA ULTIMA IMG CENTRADA AL MEDIO**/
    body section:nth-of-type(3) > div:nth-of-type(1) figure:nth-of-type(5){
        max-width: 213px;
    }
    /**ESTILO FIGURE IMG MODAL**/
    body section:nth-of-type(3) > div:nth-of-type(2) figure img{
        max-width: 340px;
    }
    /**ESTILO DEL UL BTN**/
    body section:nth-of-type(3) > div:nth-of-type(2) > ul{
        width: 100%;
        max-width: 395px;
        display: flex;
        justify-content: space-between;
        position: absolute;
    }

    /**ESTILOS DEL BOTON RESERVAR TURNO**/
    header button, section button, aside input[type="submit"]{
        max-width: 190px;
        margin: auto;
        margin-top: 50px;
    }
}

@media screen and (min-width: 574px){
    /*///////////////GALERIA//////////////*/
    /**ESTILO DE LAS IMG MINIATURA**/
    body section:nth-of-type(3) > div:nth-of-type(1){
        grid-template-columns: repeat(2, 250px);
    }
    /**ESTILO DE LA ULTIMA IMG CENTRADA AL MEDIO**/
    body section:nth-of-type(3) > div:nth-of-type(1) figure:nth-of-type(5){
        max-width: 250px;
    }


}

/*Esta MEDIA QUERI sirve para dejar de mostra el boton de SCROLL que esa en el header*/
@media screen and (max-width: 799px){
    /**ESTILOS DEL INDICADOR DE SCROLL**/
    .animation{
        transform: translateX(-100vh);
        transition: 0.8s ease-in-out;
    }
    header > div:nth-of-type(3){
        padding-top: 50px;
    }

    header > div:nth-of-type(3) a{
        width: 28px;
        height: 44px;
        border: #f2f2f2 2px solid;
        border-radius: 20px;
        margin: auto;
        display: block;
    }

    header > div:nth-of-type(3) a span{
        display: inline-block;
        background-color: #F9C900;
        width: 4px;
        height: 7px;
        border-radius: 30px;
        margin-top: 5px;
        position: relative;
        left: 10px;
    }

    header > div:nth-of-type(3) a span::before{
        position: absolute;
        content: '';
        width: 8px;
        height: 8px;
        border: none;
        border-right: 2px solid #F9C900;
        border-top: 2px solid #F9C900;
        transform: translateY(-10px) rotate(135deg);
        left: -3px;
        margin-top: 14px;
        opacity: 0;
        animation: ani 1.8s infinite linear;
    }

    header > div:nth-of-type(3) a span::after{
        position: absolute;
        content: '';
        width: 8px;
        height: 8px;
        border: none;
        border-right: 2px solid #F9C900;
        border-top: 2px solid #F9C900;
        transform: translateY(-10px) rotate(135deg);
        left: -3px;
        margin-top: 14px;
        opacity: 0;
        animation: ani 1.8s infinite linear;
        animation-delay: 0.8s;
        left: -3px;
    }

    @keyframes ani{
        0%{
            margin-top: 16px;
            opacity: 0;
        }
        50%{
            margin-top: 22px;
            opacity: 1;
        }
        100%{
            margin-top: 30px;
            opacity: 0;
        }
    }
}

@media screen and (min-width: 800px){
    /*///////////////HEADER//////////////*/
    /**IMAGEN DE FONDO**/
    header{
        /*Solo se modifico la imagen de fondo y el alto*/
        max-width: 1300px;
        height: 550px;
        margin: auto;
        margin-bottom: 5rem; /*80px*/
        background: url(../img/banner/banner_tablet_pc.jpg) no-repeat center center;
    }
    /**ESTILOS DEL UL DIA Y HORARIO**/
    header > ul{
        margin-top: 76px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding: 2rem;
    }
    /*///////////////SOBRE NOSOTROS//////////////*/
    body section:nth-of-type(1) article{
        display: grid;
        grid-template-columns: 222px 500px;
        grid-column-gap: 25px;
    }
    /*///////////////FOOTER//////////////*/
    footer > div{
        max-width: 1000px;
        margin: auto;
        margin-top: 10px;
        display:flex;
        justify-content: space-between;
    }

    footer > div div{
        width: 200px;
    }
    /**FOOTER H2 LOGO**/
    footer h2{
        margin: 0;
    }
    /**FOOTER DIV P**/
    footer > div div p{
        margin-top: 0;
    }
    /**FOOTER DID UL LI P(COPYRIGHT)**/
    footer div + p{
        margin-top: 8px;
    }
}

@media screen and (min-width: 936px){
    /**FONDO DE COLOR IMG**/
    body section:nth-of-type(1) figure{
        max-width: 332px;
        margin-bottom: 0;
    }
   /*///////////////SOBRE NOSOTROS//////////////*/
   body section:nth-of-type(1){
    margin-bottom: 5rem; /*80px*/
   }
   body section:nth-of-type(1) article{
        grid-template-columns: 332px 500px;
        grid-column-gap: 40px;
        align-items: center;
    }
}

/*************************************/
@media screen and (max-width: 979px){
    /**ICONO HAMBURGUESA**/
    header > div:nth-of-type(1) nav > div{
        width: 24px;
        height: 24px;
        background: url(../img//iconos/menu.png) no-repeat center center;
        position: absolute;
        right: 1rem;
        top: 1.6rem;
    }

    /**MENU OCULTO**/
    header > div:nth-of-type(1) nav ul{
        width: 62vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        padding-top: 3rem;
        background-color: #2A2A2A;
        transform: translateX(100%);
        transition: 0.3s ease-out;
        z-index: 2;
    }
    /**MENU VISIBLE**/
    header > div:nth-of-type(1) nav .menuActive,
    header > div:nth-of-type(1) .menuActive
    {
        transform: translateX(0%);
    }
    /**ESTILOS DEL UL LI A**/
    header > div:nth-of-type(1) nav ul li{
        margin-bottom: .125rem;
    }
    header > div:nth-of-type(1) nav ul li a{
        padding: 0 0 1.4rem 1.25rem;
        /*color: #baa472;*/
    }
    /**HEADER > DIV[1] > DIV**/
    /*Este div es el fondo negro que cubre todo el viewport cuando se abre el menu hamburguesa*/
    header > div:nth-of-type(1) > div{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        transform: translateX(-100%);
        background-color: #2a2a2a82;
        z-index: 1;
    }
    /*Dimesiones para hacer mas chico el boton que esta en HEADER*/
    header button{
        max-width: 255px;
        margin-top: 100px;
        background-color: #81664be3;
    }

    /*///////////////GALERIA//////////////*/
    /**ESTILO DE LA ULTIMA IMG CENTRADA AL MEDIO**/
    body section:nth-of-type(3) > div:nth-of-type(1) figure:nth-of-type(5){
        grid-column-start: -1;
        grid-column-end: -3;
        margin: auto;
    }
}
/*************************************/

@media screen and (min-width: 980px){
    /**ICONO CERRAR MENU Y MODAL IMG**/
    header > div:nth-of-type(1) nav > .menuX{
        display: none;
    }
    /**ESTILOS DEL BOTON RESERVAR TURNO**/
    section button:hover, aside input[type="submit"]:hover{
        background-color: #9b7854;
    }
    /*************************/
    /**H1 LOGO**/
    header > div:nth-of-type(1) h1{
        margin: initial;
        margin-right: 45px;
    }
    /**HEADER > DIV**/
    header > div, header > ul{
        max-width: 938px;
        margin: auto;
    }
    header > div:first-child{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /**HEADER > DIV NAV UL**/
    header > div nav ul{
        display: flex;
        align-items: center;
    }
    /**ESTILOS DEL UL LI A**/
    header > div:nth-of-type(1) nav ul li a{
        padding: 5px 1rem;
        margin: 0 5px;
        font-size: .875rem;
    }

    header > div:nth-of-type(1) nav ul li a:hover{
        color: #baa472;
    }
    header > div:nth-of-type(1) nav ul li:last-child a{
        border: 1px solid #BAA472;
        border-radius: 10px;
        font-weight: 500;
        padding: 2px 16px;
    }
    /**HEADER > UL**/
    header > ul{
        margin-top: 214px;
        padding: 2rem 5px;
    }
    /*************************/

    /**Ocultamos el boton (Reservar turno) del header en vista para PC**/
    header button{
        display: none;
    }

    /*///////////////SOBRE NOSOTROS//////////////*/
    body section:nth-of-type(1){
        padding: 0;
        max-width: 832px;
        margin: auto;
    }

    /*///////////////NUESTROS SERVICIOS//////////////*/
    body section:nth-of-type(2) figure{
        display: grid;
        grid-template-columns: 412px 400px;
        justify-content: center;
        align-items: center;
        grid-gap: 40px;
        margin-top: 5rem;
    }

    body section:nth-of-type(2) figure img{
        padding: 0;
    }

    body section:nth-of-type(2) figure figcaption {
        margin-top: 0;
        background-color: #f2f2f2;
        padding: 20px 20px 30px 20px;
    }


    /*///////////////GALERIA//////////////*/
    /**ESTILO DE LAS IMG MINIATURA**/
    body section:nth-of-type(3) > div:nth-of-type(1){
        max-width: 832px;
        margin: auto;
        grid-template-columns: 350px 274px 208px;
        grid-template-rows: repeat(2, 208px);
        justify-content: center;
        grid-gap: 10px;
        position: relative;
    }
    

    /**ESTILO DE LA IMG NUMERO 4**/
    body section:nth-of-type(3) > div:nth-of-type(1) figure:nth-of-type(4){
        grid-column-start: 2;
        grid-column-end: 3;
        max-width: 208px;
    }

    /**ESTILO DE LA IMG NUMERO 5**/
    body section:nth-of-type(3) > div:nth-of-type(1) figure:nth-of-type(5){
        max-width: 274px;
        width: 274px;
        position: absolute;
        bottom: 0;
        right: -11px;
    }

    /*///////////////CONTACTO//////////////*/
    /**ASIDE CONTACTO**/
    body aside:nth-of-type(1){
        display: grid;
        grid-template-columns: 386px 466px;
        justify-content: center;
    }
}

@media screen and (min-width: 1074px){
    /**H1 LOGO**/
    header > div:nth-of-type(1) h1{
        margin-right: 108px;
    }
    /**HEADER > DIV**/
    header > div, header > ul{
        max-width: 1000px;
    }
    header > div:first-child {
        justify-content: unset;
    }

    /*///////////////SOBRE NOSOTROS//////////////*/
    body section:nth-of-type(1){
        padding: 0;
        max-width: 1000px;
        margin: auto;
    }

    /*///////////////NUESTROS SERVICIOS//////////////*/
    body section:nth-of-type(2) figure{
        grid-template-columns: 472px 500px;
        grid-gap: 38px;
    }

    body section:nth-of-type(2) figure figcaption {
        margin-top: 0;
        background-color: #f2f2f2;
        padding: 20px 2rem 30px 2rem;
    }

    /*///////////////CONTACTO//////////////*/
    /**ASIDE CONTACTO**/
    body aside:nth-of-type(1){
        grid-template-columns: repeat(2, 500px);
    }

    /*///////////////GALERIA//////////////*/
    /**ESTILO DE LAS IMG MINIATURA**/
    body section:nth-of-type(3) > div:nth-of-type(1){
        max-width: 1000px;
        grid-template-columns: 410px 350px 208px;
    }

    /**ESTILO DE LA IMG NUMERO 5**/
    body section:nth-of-type(3) > div:nth-of-type(1) figure:nth-of-type(5){
        max-width: 350px;
        width: 350px;
        right: 5px;
    }
}