@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,500;0,600;1,500;1,600&family=Playfair+Display:wght@600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Arial';
    color: #333;
    box-sizing: border-box;
}

.scrollNull{
    overflow: hidden;
}

/*///////////////ESTILOS GENERALES//////////////*/
ul li{
    list-style: none;
}

h2{
    font-family: 'Bebas Neue';
    font-size: 2.5rem;
    text-transform: uppercase;
}

a{
    display: block;
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 500;
    line-height: 1.4rem;
}

p{
    /*font-size: .875rem;*/
    line-height: 1.4rem;
    padding-bottom: 1rem;
}

p strong{
    color: #baa472;
}

section, aside{
    margin: 60px 0;
}

section > h2{
    padding-bottom: 1rem;
    background: url(../iconos/linea.png) no-repeat;
    background-position: 0 34px;
}

body section:nth-of-type(1) figure{
    line-height: 0;
}

figure img{
    max-width: 100%;
    display: block;
    margin: auto;
}

iframe{
    max-width: 100%;
}

/*///////////////HEADER//////////////*/
/**IMAGEN DE FONDO**/
header{
    width: 100vw;
    /*height: calc(100vw * 667px / 800px);*/
    height: 667px;
    background: url(../banner/banner_cell_tablet.jpg) no-repeat center center;
}

header > div{
    padding-top: 1rem;
}

/**H1 LOGO**/
header > div:nth-of-type(1) h1,
footer h2{
    width: 106px;
    height: 28px;
    margin-left: 1rem;
    background-image: url(../galeria/logo_flecha_barber.png);
    background-size: cover;
    font-size: 0;
}
/**FOOTER H2 LOGO**/
footer h2{
    margin: auto;
}

/**ICONO HAMBURGUESA**/
header > div:nth-of-type(1) nav > div{
    width: 24px;
    height: 24px;
    background: url(../iconos/menu.png) no-repeat center center;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

/**ICONO CERRAR MENU Y MODAL IMG**/
header > div:nth-of-type(1) nav > .menuX,
body section:nth-of-type(3) > div:nth-of-type(2) div{
    width: 24px;
    height: 24px;
    background: url(../iconos/letra_x.png) no-repeat center center;
    position: fixed;
    right: 1rem;
    top: 1rem ;
    z-index: 5;
}

/**MENU OCULTO**/
header > div:nth-of-type(1) nav ul{
    width: 62vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 3rem;
    background-color: #2A2A2A;
    transform: translateX(100%);
    transition: 0.3s ease-out;
    z-index: 2;
}

header > div:nth-of-type(1) > div{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    background-color: #2a2a2a82;
    z-index: 1;
}

/**MENU VISIBLE**/
header > div:nth-of-type(1) nav .menuActive,
header > div:nth-of-type(1) .menuActive
{
    transform: translateX(0%);
}

/**ESTILOS DEL UL LI A**/
header > div:nth-of-type(1) nav ul li{
    margin-bottom: .125rem;
}

header > div:nth-of-type(1) nav ul li a{
    padding: 0 0 1rem 1.25rem;
    color: #baa472;
}

/**ESTILOS DEL DIV H2 BARBERIA**/
header > div:nth-of-type(2) h2{
    margin-top: 3rem;
    font-family: 'Playfair Display', serif;
    font-size: 4.125rem;
    font-weight: 700;
    text-align: center;
    color: #F9C900;
}

/**ESTILOS DEL DIV H3 MARCA TU ESTILO**/
header > div:nth-of-type(2) h3,
footer h3{
    max-width: 329px;
    margin: auto;
    padding-top: 2px;
    font-family: 'Bebas Neue';
    font-size: 2.375rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: #f2f2f2;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}

header > div:nth-of-type(3){
    padding-top: 30px;
}

header > div:nth-of-type(3) a{
    width: 28px;
    height: 44px;
    border: #f2f2f2 2px solid;
    border-radius: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
}

header > div:nth-of-type(3) a span{
    display: inline-block;
    background-color: #F9C900;
    width: 4px;
    height: 7px;
    border-radius: 30px;
    margin-top: 5px;
    position: relative;
}

header > div:nth-of-type(3) a span::before{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border: none;
    border-right: 2px solid #F9C900;
    border-top: 2px solid #F9C900;
    transform: translateY(-10px) rotate(135deg);
    left: -3px;
    margin-top: 16px;
    opacity: 0;
    animation: ani 1.8s infinite linear;
}

header > div:nth-of-type(3) a span::after{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border: none;
    border-right: 2px solid #F9C900;
    border-top: 2px solid #F9C900;
    transform: translateY(-10px) rotate(135deg);
    left: -3px;
    margin-top: 16px;
    opacity: 0;
    animation: ani 1.8s infinite linear;
    animation-delay: 0.8s;
}

@keyframes ani{
    0%{
        margin-top: 16px;
        opacity: 0;
    }
    50%{
        margin-top: 22px;
        opacity: 1;
    }
    100%{
        margin-top: 30px;
        opacity: 0;
    }
}
/*
header > div:nth-of-type(3) a{
    width: 20px;
    height: 20px;
    margin: auto;
    background: url(../iconos/abajo.png) no-repeat center center;
    background-size: 16px;
    border: 1px solid #F9C900;
    border-radius: 50px;
    font-size: 0;
}*/

footer div h3{
    max-width: 200px;
    margin-top: 10px;
    font-size: 1.125rem;
}

/**ESTILOS DEL BOTON**/
header button, section button, aside input[type="submit"]{
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 50px;
    padding: 10px 8px 12px 8px;
    background: #81664b;
    color: #f2f2f2;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

header button{
    max-width: 255px;
    margin-top: 100px;
    background-color: #81664be3;
}

/**ESTILOS DEL UL DIA Y HORARIO**/
header > ul{
   margin-top: 116px;
   text-align: center;
}

header > ul li{
    padding: 0 0 10px 0;
}

header > ul li:nth-of-type(2){
    padding-bottom: 16px;
}

header > ul li, 
header > ul li a{
    font-size: .875rem;
    font-family: 'Bebas Neue';
    /*color: #f2f2f2;*/
    color: #baa472;
}

/*///////////////SOBRE NOSOTROS//////////////*/
body section:nth-of-type(1){
    padding: 0 32px;
}
/**FONDO DE COLOR IMG**/
body section:nth-of-type(1) figure{
    max-width: 210px;
    padding: 16px;
    margin-bottom: 40px;
    background-color: #666;
}

/*///////////////NUESTROS SERVICIOS//////////////*/
body section:nth-of-type(2) figure img{
    padding: 0 32px;
}

body section:nth-of-type(2) figure figcaption {
    margin-top: 40px;
    background-color: #f2f2f2;
    padding: 20px 32px;
}

/**POSICION DE LA IMG DEL H2**/
body section:nth-of-type(2) figure figcaption h2{
    background-position: 21px 34px;
}
/**ESTILO DE LA LISTA DE PRECIOS**/
body section:nth-of-type(2) figure figcaption ul{
    margin: 20px 0;
}

body section:nth-of-type(2) figure figcaption ul li{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: #BAA472;
    border-bottom: 1px solid #6666664d;
}

/*///////////////GALERIA//////////////*/
/**ESTILO DEL H2 GALERIA**/
body section:nth-of-type(3) h2{
    text-align: center;
    max-width: 200px;
    margin: auto;
    margin-bottom: 20px;
    background-position: -6px 34px;
}
/**ESTILO DE LAS IMG MINIATURA**/
body section:nth-of-type(3) > div:nth-of-type(1){
    display: grid;
    grid-template-columns: repeat(2, 160px);
    justify-content: center;
    grid-gap: 10px;
}
/**ESTILO DE LA ULTIMA IMG CENTRADA AL MEDIO**/
body section:nth-of-type(3) > div:nth-of-type(1) figure:nth-of-type(5){
    grid-column-start: -1;
    grid-column-end: -3;
    margin: auto;
}
/**ESTILO PARA GENERAR LA MODAL IMG**/
body section:nth-of-type(3){
    position: relative;
}
/**ESTILO DEL DIV MODAL IMG**/
body section:nth-of-type(3) > div:nth-of-type(2){
   width: 100vw;
   height: 100vh;
   top: 0;
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #2a2a2af5;
}
/**ESTILO FIGURE **/
body section:nth-of-type(3) > div:nth-of-type(2) figure img{
    padding: 15px;
    border: 2px solid #BAA472;
}
/**ESTILO FIGURE IMG MODAL**/
body section:nth-of-type(3) > div:nth-of-type(2) figure img{
    max-width: 320px;
}
/**ESTILO DEL UL BTN**/
body section:nth-of-type(3) > div:nth-of-type(2) ul:nth-of-type(1){
    width: 100%;
    max-width: 364px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}
/**ESTILO DEL UL LI BTN ANTERIOR**/
body section:nth-of-type(3) > div:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(1){
    width: 40px;
    height: 40px;
    background-image: url(../iconos/atras.png);
    background-size: cover;
    font-size: 0;
    z-index: 3;
}
/**ESTILO DEL UL LI BTN SIGUIENTE**/
body section:nth-of-type(3) > div:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(2){
    width: 40px;
    height: 40px;
    background-image: url(../iconos/adelante.png);
    background-size: cover;
    font-size: 0;
}
/**ESTILO DEL UL INDICADOR**/
body section:nth-of-type(3) > div:nth-of-type(2) ul:nth-of-type(2){
    width: 100%;
    max-width: 364px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 114px;
}
/**ESTILO DEL LOS LI INDICADORES**/
body section:nth-of-type(3) > div:nth-of-type(2) ul:last-child li{
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #f2f2f2;
    border-radius: 50%;
}
/**ESTILO DEL LI INDICADOR ACTIVO**/
body section:nth-of-type(3) > div:nth-of-type(2) ul:nth-of-type(2) .active{
    background-color: #81664b;
}

/*///////////////CONTACTO//////////////*/
/**ASIDE CONTACTO**/
body aside:nth-of-type(1){
    margin-bottom: 0;
}
/**ASIDE CONTACTO DIV**/
body aside:nth-of-type(1) div{
    background-color: #2A2A2A;
    padding: 32px;
}
/**ASIDE CONTACTO DV H2**/
body aside:nth-of-type(1) div h2{
    max-width: 170px;
    margin-bottom: 20px;
    padding-bottom: 6px;
    background: url(../iconos/linea.png) no-repeat center center;
    background-position: -20px 34px;
    color: #f2f2f2;
}
/**ASIDE CONTACTO DIV UL LI**/
body aside:nth-of-type(1) div ul li{
    padding-top: 1rem;
    color: #f2f2f2;/*#BAA472*/
    display: flex;
    align-items: center;
}
/**ASIDE CONTACTO DIV UL LI SPAN(UBICACION)**/
body aside:nth-of-type(1) div ul li:first-child span{
    width: 14px;
    height: 14px;
    margin-right: 1rem;
    padding: 12px;
    background: url(../iconos/ubicacion.png) no-repeat center center;
    background-size: 15px;
    border: 1px solid #BAA472;
    border-radius: 50%;
    
}
/**ASIDE CONTACTO DIV UL LI SPAN(CALENDARIO)**/
body aside:nth-of-type(1) div ul li:nth-of-type(2) span{
    width: 14px;
    height: 14px;
    margin-right: 1rem;
    padding: 12px;
    background: url(../iconos/calendario.png) no-repeat center center;
    background-size: 14px;
    border: 1px solid #BAA472;
    border-radius: 50%;;
}
/**ASIDE CONTACTO DIV UL LI SPAN(WSP)**/
body aside:nth-of-type(1) div ul li:last-child span{
    width: 14px;
    height: 14px;
    margin-right: 1rem;
    padding: 12px;
    background: url(../iconos/whatsapp_f.png) no-repeat center center;
    background-size: 15px;
    border: 1px solid #BAA472;
    border-radius: 50%;
}
/**ASIDE CONTACTO DIV UL LI A**/
body aside:nth-of-type(1) div ul li a{
    color: #f2f2f2;
    font-weight: 400;
}

/*///////////////RESERVAR TURNO//////////////*/
/**ASIDE ID RESERVA**/
body aside:nth-of-type(2){
    padding: 0 32px;
}
/**ASIDE RESERVA H2**/
body aside:nth-of-type(2) h2{
    max-width: 209px;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 6px;
    background: url(../iconos/linea.png) no-repeat center center;
    background-position: 0 34px;
}
/**ASIDE RESERVA DIV**/
body aside:nth-of-type(2) form div{
    margin-bottom: 18px;
}
/**ASIDE RESERVA FORM DIV LABEL**/
body aside:nth-of-type(2) form div label{
    display: block;
    font-weight: 500;
}
/**ASIDE RESERVA FORM DIV INPUT**/
body aside:nth-of-type(2) form div input{
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 3px;
    border: 1px solid #6666664d;
    outline: none;
    color: #333;
}
/**ASIDE RESERVA FORM DIV HORARIOS**/
body aside:nth-of-type(2) form div:nth-of-type(4){
    position: relative;
}
/**ASIDE RESERVA FORM DIV[4] H3**/
body aside:nth-of-type(2) form div h3{
    font-size: 1rem;
    font-weight: 500;
}
/**ASIDE RESERVA FORM DIV[4] H4 **/
body aside:nth-of-type(2) form div h4{
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 3px;
    border: 1px solid #6666664d;
    font-size: .875rem;
    font-weight: 400;
}
/**ASIDE RESERVA FORM > DIV[4] DIV OCULTO**/
body aside:nth-of-type(2) form > div div{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2a2a2a6b;
    transform: translateY(100%);
}
/**ASIDE RESERVA FORM > DIV[4] UL OCULTO**/
body aside:nth-of-type(2) form > div > ul{
    background-color: #fff;
    width: 100vw;
    height: 80vh;
    padding: 32px 32px 12px 32px;
    border-radius: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    transform: translateY(100%);
    transition: 0.5s ease-out;
    z-index: 1;
}
/**ASIDE RESERVA FORM > DIV[4] > (DIV Y UL) VISIBLE**/
body aside:nth-of-type(2) form > div > .HsActivo{
    transform: translateY(0%);
}
/**ASIDE RESERVA FORM > DIV[4] > UL LI**/
body aside:nth-of-type(2) form > div > ul li{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #BAA472;
    border-radius: 3px;
    text-align: center;
    font-weight: 500;
    box-shadow: -2px 3px 6px -2px rgb(0 0 0 / 10%);
    background: url(../iconos/reloj.png) no-repeat;
    background-size: 1rem;
    background-position: 108px center;
}

/**Estas class se aplican atraves del JS para darle estilos a los INPUTS, LABEL y los P tanto para estilizarlos como para las validaciones**/

/**ASIDE RESERVA FORM DIV INPUT CLASS="OUTLINE"**/
body aside:nth-of-type(2) form div .outLine{
    padding-bottom: 9px;
    border-bottom: 2px solid #baa472;
}
/**ASIDE RESERVA FORM DIV LABEL CLASS="ERRORLABEL"**/
body aside:nth-of-type(2) form div .errorLabel{
    color: #F26671;
}
/**ASIDE RESERVA DIV INPUT CLASS="ERRORINPUT"**/
body aside:nth-of-type(2) form div .errorInput{
    border: 1px solid #F26671;
}
/**ASIDE RESERVA FORM DIV P(MJS ERROR)**/
body aside:nth-of-type(2) form div p{
    font-size: .75rem;
    font-weight: 500;
    color: #F26671;
    padding-bottom: 0;
    padding-left: 18px;
    background: url(../iconos/elerta.png) no-repeat;
    background-size: 12px;
    background-position: 0 5px;
}

/*///////////////FOOTER//////////////*/
footer{
    padding: 20px 32px;
    background-color: #2A2A2A;
}

footer div ul{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

footer div ul li:first-child a{
    width: 14px;
    height: 14px;
    margin-right: 1rem;
    padding: 14px;
    background: url(../iconos/facebook.png) no-repeat center center;
    background-size: 14px;
    border: 1px solid #BAA472;
    border-radius: 50%;
    font-size: 0;
}

footer div ul li:nth-of-type(2) a{
    width: 14px;
    height: 14px;
    margin-right: 1rem;
    padding: 14px;
    background: url(../iconos/instagram.png) no-repeat center center;
    background-size: 14px;
    border: 1px solid #BAA472;
    border-radius: 50%;
    font-size: 0;
}

footer div ul li:last-child a{
    width: 14px;
    height: 14px;
    margin-right: 1rem;
    padding: 14px;
    background: url(../iconos/whatsapp_f.png) no-repeat center center;
    background-size: 14px;
    border: 1px solid #BAA472;
    border-radius: 50%;
    font-size: 0;
}

footer p{
    color: #f2f2f2;
}