@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,500;0,600;1,500;1,600&family=Playfair+Display:wght@600;700&display=swap');

/*///////////////ESTILOS GENERALES//////////////*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Arial';
    color: #333;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color:#F0EBE8;
}

section{
    margin: 80px 0;
}

h2{
    font-family: 'Bebas Neue';
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

/***SECTION Imagen decorativa que aparace debajo de los H2***/
section h2, body > div > div h2{
    padding-bottom: 2rem;
    background: url(../img/iconos/linea.png) no-repeat;
    background-position: 0 34px;
}

section p, body > div > div p{
    line-height: 1.4rem;
    margin-bottom: 1rem;
}

ul li{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 500;
}

figure img{
    max-width: 100%;
    display: block;
    /*margin: auto;*/
}

/**ICONO CERRAR MENU Y MODAL IMG**/
header > div:nth-of-type(1) nav > .menuX,
body section:nth-of-type(3) > div:nth-of-type(2) div{
    width: 24px;
    height: 24px;
    background: url(../img/iconos/letra_x.png) no-repeat center center;
    position: fixed;
    right: 1rem;
    top: 1.6rem;
    z-index: 3;
}

/*///////////////HEADER//////////////*/
/**IMAGEN DE FONDO**/
header{
    width: 100vw;
    height: 667px;
    background: url(../img/banner/banner_cell_tablet.jpg) no-repeat center center;
    /*margin-bottom: 5rem;80px*/
}

/**HEADER > DIV**/
header > div{
    padding: 1rem 1rem 0 1rem;
}

/**H1 LOGO**/
header > div:nth-of-type(1) h1,
footer h2{
    width: 160px;
    height: 40px;
    background: url(../img/galeria/logo_flecha_barber.png) no-repeat;
    background-size: contain;
    font-size: 0;
}

/**ESTILOS DEL DIV H2 BARBERIA**/
/*4.125rem = 66px*/
header > div:nth-of-type(2) h2{
    margin-top: 34px;
    font-family: 'Playfair Display', serif;
    font-size: 4.125rem;
    font-weight: 700;
    text-align: center;
    color: #F9C900;
}

/**ESTILOS DEL DIV P MARCA TU ESTILO**/
header > div:nth-of-type(2) p,
footer > div div p{
    max-width: 336px;
    margin: auto;
    margin-top: 12px;
    padding-top: 3px;
    font-family: 'Bebas Neue' !important;
    font-size: 2.375rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: #f2f2f2;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}

/**ESTILOS DEL BOTON RESERVAR TURNO**/
header button{
    width: 140px;
    display: block;
    color: #f2f2f2;
    font-size: .875rem;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid #9B7854;
    border-radius: 10px;
    margin: auto;
    margin-top: 114px;
    padding: 1px 0 2px 0;
    /*.875rem = 14px*/
}

/**ESTILOS DEL UL DIA Y HORARIO**/
header > ul{
    margin-top: 114px;
    text-align: center;
}

header > ul li{
    padding-bottom: 1rem;
}

header > ul li, 
header > ul li a{
    font-size: .875rem;
    font-family: 'Bebas Neue';
    color: #baa472;
}


/*///////////////SOBRE NOSOTROS//////////////*/
body section:nth-of-type(1){
    padding: 0 1rem;
}

/**FONDO DE COLOR IMG**/
body section:nth-of-type(1) figure{
    max-width: 222px;
    padding: 16px;
    margin-bottom: 40px;
    background-color: #666;
}


/*///////////////NUESTROS SERVICIOS//////////////*/

body section:nth-of-type(2) figure img{
    margin: auto;
    margin-bottom: 40px;
}

body section:nth-of-type(2) figure figcaption {
    background-color: #f2f2f2;
    padding: 20px 1rem 30px 1rem;
}

/*///////////////MAEDIA QUERIS//////////////*/
/*Esta MEDIA QUERI sirve para dejar de mostra el boton de SCROLL que esa en el header*/
@media screen and (max-width: 799px){
    /**ESTILOS DEL INDICADOR DE SCROLL**/
    .animation{
        transform: translateX(-100vh);
        transition: 0.8s ease-in-out;
    }
    header > div:nth-of-type(3){
        margin-top: 10px;
        padding-bottom: 16px;
    }

    header > div:nth-of-type(3) a{
        width: 28px;
        height: 44px;
        border: #f2f2f2 2px solid;
        border-radius: 20px;
        margin: auto;
        display: block;
    }

    header > div:nth-of-type(3) a span{
        display: inline-block;
        background-color: #F9C900;
        width: 4px;
        height: 7px;
        border-radius: 30px;
        margin-top: 5px;
        position: relative;
        left: 10px;
    }

    header > div:nth-of-type(3) a span::before{
        position: absolute;
        content: '';
        width: 8px;
        height: 8px;
        border: none;
        border-right: 2px solid #F9C900;
        border-top: 2px solid #F9C900;
        transform: translateY(-10px) rotate(135deg);
        left: -3px;
        margin-top: 14px;
        opacity: 0;
        animation: ani 1.8s infinite linear;
    }

    header > div:nth-of-type(3) a span::after{
        position: absolute;
        content: '';
        width: 8px;
        height: 8px;
        border: none;
        border-right: 2px solid #F9C900;
        border-top: 2px solid #F9C900;
        transform: translateY(-10px) rotate(135deg);
        left: -3px;
        margin-top: 14px;
        opacity: 0;
        animation: ani 1.8s infinite linear;
        animation-delay: 0.8s;
        left: -3px;
    }

    @keyframes ani{
        0%{
            margin-top: 16px;
            opacity: 0;
        }
        50%{
            margin-top: 22px;
            opacity: 1;
        }
        100%{
            margin-top: 30px;
            opacity: 0;
        }
    }
}


/*************************************/
@media screen and (max-width: 979px){
    /**ICONO HAMBURGUESA**/
    header > div:nth-of-type(1) nav > div{
        width: 24px;
        height: 24px;
        background: url(../img//iconos/menu.png) no-repeat center center;
        position: absolute;
        right: 1rem;
        top: 1.6rem;
    }

    /**MENU OCULTO**/
    header > div:nth-of-type(1) nav ul{
        width: 62vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        padding-top: 3rem;
        background-color: #2A2A2A;
        transform: translateX(100%);
        transition: 0.3s ease-out;
        z-index: 2;
    }

    /**MENU VISIBLE**/
    header > div:nth-of-type(1) nav .menuActive,
    header > div:nth-of-type(1) .menuActive
    {
        transform: translateX(0%);
    }

    /**MENU UL LI**/
    header > div:nth-of-type(1) nav ul li{
        margin-bottom: .625rem;
        /*.625rem = 10px*/
    }

    /**MENU UL LI A**/
    header > div:nth-of-type(1) nav ul li a{
        font-size: .875rem;
        padding: 0 0 .875rem 1.5rem;
        /*.875rem = 14px*/
    }

    /**HEADER > DIV[1] > DIV**/
    /*Este div es el fondo negro que cubre todo el viewport cuando se abre el menu hamburguesa*/
    header > div:nth-of-type(1) > div{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        background-color: #2a2a2a82;
        z-index: 1;
    }
}
/*************************************/